<div class="tabs is-centered">
  <ul>
    <li class="is-active">
      <a>
        <span class="icon is-small"></span>
        <span>科技潮物</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"></i></span>
        <span>汽機車道具</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"></span>
        <span>趣味玩物</span>
      </a>
    </li>
    <li>
      <a>
        <span class="icon is-small"></span>
        <span>小編精選</span>
      </a>
    </li>
  </ul>
</div>