
<section class="container">

  <nav class="breadcrumb" aria-label="breadcrumbs">
    <ul>
      <li><a href="#">科技潮物</a></li>
      <li><a href="#">手機配件</a></li>
      <li class="is-active"><a href="#" aria-current="page">軍規手機格</a></li>
    </ul>
  </nav>

  <div class="columns">
    <div class="column is-7">
      <figure class="image">
        <%= image_pack_tag 'first_page/iphone.png' %>
      </figure>

      <article class="content is-medium">
        <h2>商品特色</h2>
        <p>
         大小發生先生高達性能人力思維恐怕依舊課堂台北態度包含以及狀。
        </p>
        <h2>商品規格</h2>
        <p>
          現在即可建材拿出是否註冊之處，審核不敢打造，探索改進，新竹。
        </p>
      </article>
    </div>

    <div class="column is-5">
      <h3 class="has-text-grey-light">犀鳥盾</h3>
      <h2 class="title is-1">鋁合金防摔手機殼</h2>
      <p class="has-text-primary is-size-4">官網限定價 649元</p>
      <hr>
      <div class="columns">
        <div class="column is-3 is-size-4 has-text-right">
          數量
        </div>
        <div class="column is-9 field is-grouped">
          <a href="#" class="button is-white is-medium">-</a>
          <input type="number" name="quantity" class="input is-medium has-text-centered" value="1">
          <a href="#" class="button is-white is-medium">+</a>
        </div>
      </div>
      <a href="#" class="button is-primary is-medium is-fullwidth">加到購物車</a>
    </div>
  </div>
</section>